---
import type { Contact } from "@/types";
import {
  FiAtSign,
  FiGithub,
  FiGlobe,
  FiMail,
  FiYoutube,
} from "react-icons/fi";
import { RiTwitterXLine } from "react-icons/ri";
import Icons from "./Icons.astro";

interface Props {
  contacts: Contact[];
  size?: number;
}

const { contacts, size = 18 } = Astro.props;
---
{
  contacts.map((contact) => (
    <div class="hover:scale-125 transition-all duration-100">
      <a
        href={contact.link}
        target="_blank"
        rel="noreferrer noopener"
        aria-label={contact.platform}
      >
        {contact.platform === "website" && <FiGlobe size={size} />}
        {contact.platform === "github" && <FiGithub size={size} />}
        {contact.platform === "youtube" && <FiYoutube size={size} />}
        {contact.platform === "twitter" && <RiTwitterXLine size={size} />}
        {contact.platform === "farcaster" && <Icons name="farcaster" size={size - 2} />}
        {contact.platform === "bluesky" && <Icons name="bluesky" size={size + 4} />}
        {contact.platform === "ping" && <FiAtSign size={size + 1} />}
        {contact.platform === "email" && <FiMail size={size} />}
      </a>
    </div>
  ))
}
